In [5]:
import pandas as pd
import json
import requests

In [6]:
url = 'https://100lifeplan.fss.or.kr/openapi/api/rpCorpResultList.json?key=63ce3944f4cf8cc6b9f861d17c72edf9&year=2021&quarter=4&sysType=2'
res = requests.get(url)
contents = json.loads(res.text)

# with open(url, 'r') as j:
#     contents = json.loads(j.read())

contents

{'code': '000',
 'message': '정상 처리 되었습니다.',
 'count': 43,
 'list': [{'company': 'KB증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 4345,
     'dbEarnRate': 3.56,
     'dbEarnRate3': 2.37,
     'dbEarnRate5': 2.65,
     'dbEarnRate7': 2.31,
     'dbEarnRate10': 2.76,
     'dcReserve': 2628,
     'dcEarnRate': 7.62,
     'dcEarnRate3': 9.68,
     'dcEarnRate5': 5.96,
     'dcEarnRate7': 4.53,
     'dcEarnRate10': 4.51,
     'irpReserve': 2338,
     'irpEarnRate': 8.53,
     'irpEarnRate3': 11.01,
     'irpEarnRate5': 6.39,
     'irpEarnRate7': 4.31,
     'irpEarnRate10': 4.78}]},
  {'company': 'NH투자증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 889,
     'dbEarnRate': 3.43,
     'dbEarnRate3': 4.7,
     'dbEarnRate5': 3.23,
     'dbEarnRate7': 2.62,
     'dbEarnRate10': 3.09,
     'dcReserve': 3909,
     'dcEarnRate': 8.16,
     'dcEarnRate3': 9.97,
     'dcEarnRate5': 5.82,
     'dcEarnRate7': 4.34,
     'dcEarnRate10': 4.75,
     'irpReserve': 4194,
     'irpEarnRate': 8.94,
     'irpEarnRate3': 10.72,
     'irpEarnRate5': 6.12,
     'irpEarnRate7': 4.27,
     'irpEarnRate10': 4.71}]},
  {'company': '대신증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 611,
     'dbEarnRate': 2.83,
     'dbEarnRate3': 3.31,
     'dbEarnRate5': 2.57,
     'dbEarnRate7': 1.94,
     'dbEarnRate10': 2.57,
     'dcReserve': 2029,
     'dcEarnRate': 7.25,
     'dcEarnRate3': 9.02,
     'dcEarnRate5': 5.46,
     'dcEarnRate7': 4.15,
     'dcEarnRate10': 4.34,
     'irpReserve': 909,
     'irpEarnRate': 8,
     'irpEarnRate3': 11.13,
     'irpEarnRate5': 7.13,
     'irpEarnRate7': 5.81,
     'irpEarnRate10': 5.92}]},
  {'company': '미래에셋증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 7948,
     'dbEarnRate': 2.52,
     'dbEarnRate3': 3.04,
     'dbEarnRate5': 2.81,
     'dbEarnRate7': 2.43,
     'dbEarnRate10': 2.97,
     'dcReserve': 38404,
     'dcEarnRate': 8.69,
     'dcEarnRate3': 10.78,
     'dcEarnRate5': 6.6,
     'dcEarnRate7': 4.85,
     'dcEarnRate10': 4.76,
     'irpReserve': 27025,
     'irpEarnRate': 9.44,
     'irpEarnRate3': 10.9,
     'irpEarnRate5': 6.72,
     'irpEarnRate7': 4.83,
     'irpEarnRate10': 4.85}]},
  {'company': '삼성증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 5672,
     'dbEarnRate': 1.91,
     'dbEarnRate3': 3.45,
     'dbEarnRate5': 2.98,
     'dbEarnRate7': 3.03,
     'dbEarnRate10': 3.46,
     'dcReserve': 12119,
     'dcEarnRate': 8.69,
     'dcEarnRate3': 9.65,
     'dcEarnRate5': 5.81,
     'dcEarnRate7': 4.5,
     'dcEarnRate10': 4.32,
     'irpReserve': 14188,
     'irpEarnRate': 8.82,
     'irpEarnRate3': 9.37,
     'irpEarnRate5': 5.64,
     'irpEarnRate7': 4.32,
     'irpEarnRate10': 4.16}]},
  {'company': '신영증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 110,
     'dbEarnRate': 1.54,
     'dbEarnRate3': 3.63,
     'dbEarnRate5': 2.1,
     'dbEarnRate7': 1.8,
     'dbEarnRate10': 2.31,
     'dcReserve': 640,
     'dcEarnRate': 5.1,
     'dcEarnRate3': 7.26,
     'dcEarnRate5': 4.47,
     'dcEarnRate7': 3.81,
     'dcEarnRate10': 4.19,
     'irpReserve': 515,
     'irpEarnRate': 5.91,
     'irpEarnRate3': 7.8,
     'irpEarnRate5': 4.24,
     'irpEarnRate7': 3.32,
     'irpEarnRate10': 3.38}]},
  {'company': '신한금융투자',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 184,
     'dbEarnRate': 2.44,
     'dbEarnRate3': 2.55,
     'dbEarnRate5': 2.3,
     'dbEarnRate7': 2.43,
     'dbEarnRate10': 3.21,
     'dcReserve': 4592,
     'dcEarnRate': 8.09,
     'dcEarnRate3': 10.38,
     'dcEarnRate5': 6.31,
     'dcEarnRate7': 4.6,
     'dcEarnRate10': 4.65,
     'irpReserve': 2541,
     'irpEarnRate': 10.65,
     'irpEarnRate3': 11.49,
     'irpEarnRate5': 6.77,
     'irpEarnRate7': 4.54,
     'irpEarnRate10': 4.81}]},
  {'company': '유안타증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 10,
     'dbEarnRate': 11.29,
     'dbEarnRate3': 8.48,
     'dbEarnRate5': 5.86,
     'dbEarnRate7': 4.9,
     'dbEarnRate10': 4.66,
     'dcReserve': 326,
     'dcEarnRate': 5.03,
     'dcEarnRate3': 6.81,
     'dcEarnRate5': 4.65,
     'dcEarnRate7': 3.96,
     'dcEarnRate10': 3.98,
     'irpReserve': 287,
     'irpEarnRate': 8.68,
     'irpEarnRate3': 9.45,
     'irpEarnRate5': 5.82,
     'irpEarnRate7': 4.55,
     'irpEarnRate10': 4.51}]},
  {'company': '하나금융투자',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 1056,
     'dbEarnRate': 3.12,
     'dbEarnRate3': 7.35,
     'dbEarnRate5': 6.59,
     'dbEarnRate7': 3.94,
     'dbEarnRate10': 4.91,
     'dcReserve': 478,
     'dcEarnRate': 7.95,
     'dcEarnRate3': 11.44,
     'dcEarnRate5': 7.56,
     'dcEarnRate7': 5.68,
     'dcEarnRate10': 5.14,
     'irpReserve': 1189,
     'irpEarnRate': 5.85,
     'irpEarnRate3': 9.49,
     'irpEarnRate5': 5.36,
     'irpEarnRate7': 3.5,
     'irpEarnRate10': 3.73}]},
  {'company': '하이투자증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 119,
     'dbEarnRate': 0.4,
     'dbEarnRate3': 4.11,
     'dbEarnRate5': 3.43,
     'dbEarnRate7': 3.28,
     'dbEarnRate10': 3.4,
     'dcReserve': 72,
     'dcEarnRate': 3.17,
     'dcEarnRate3': 6.92,
     'dcEarnRate5': 4.55,
     'dcEarnRate7': 3.44,
     'dcEarnRate10': 3.79,
     'irpReserve': 573,
     'irpEarnRate': 5.73,
     'irpEarnRate3': 6.87,
     'irpEarnRate5': 4.21,
     'irpEarnRate7': 3.23,
     'irpEarnRate10': 3.53}]},
  {'company': '한국투자증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 8495,
     'dbEarnRate': 2.82,
     'dbEarnRate3': 4.78,
     'dbEarnRate5': 3.61,
     'dbEarnRate7': 2.97,
     'dbEarnRate10': 3.81,
     'dcReserve': 10648,
     'dcEarnRate': 7.8,
     'dcEarnRate3': 9.57,
     'dcEarnRate5': 5.52,
     'dcEarnRate7': 4.05,
     'dcEarnRate10': 4.47,
     'irpReserve': 7740,
     'irpEarnRate': 7.93,
     'irpEarnRate3': 10.64,
     'irpEarnRate5': 6.02,
     'irpEarnRate7': 4.34,
     'irpEarnRate10': 4.64}]},
  {'company': '한국포스증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장', 'irpReserve': 1102, 'irpEarnRate': 10.4}]},
  {'company': '한화투자증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dcReserve': 248,
     'dcEarnRate': 9.6,
     'dcEarnRate3': 13.83,
     'irpReserve': 325,
     'irpEarnRate': 8.76,
     'irpEarnRate3': 11.6}]},
  {'company': '현대차증권',
   'area': '증권',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 3960,
     'dbEarnRate': 1.56,
     'dbEarnRate3': 4.12,
     'dbEarnRate5': 2.92,
     'dbEarnRate7': 2.64,
     'dbEarnRate10': 2.99,
     'dcReserve': 374,
     'dcEarnRate': 6.51,
     'dcEarnRate3': 9.67,
     'dcEarnRate5': 5.6,
     'dcEarnRate7': 4.21,
     'dcEarnRate10': 4.34,
     'irpReserve': 2320,
     'irpEarnRate': 4.23,
     'irpEarnRate3': 6.37,
     'irpEarnRate5': 3.45,
     'irpEarnRate7': 2.73,
     'irpEarnRate10': 3.23}]},
  {'company': 'DB생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 0,
     'dbEarnRate': 0,
     'dbEarnRate3': 0,
     'dbEarnRate5': 0,
     'dbEarnRate7': 0,
     'dbEarnRate10': 0,
     'dcReserve': 31,
     'dcEarnRate': -0.3,
     'dcEarnRate3': 4.96,
     'dcEarnRate5': 4.17,
     'dcEarnRate7': 3.26,
     'dcEarnRate10': 3.26,
     'irpReserve': 2,
     'irpEarnRate': 0.76,
     'irpEarnRate3': 5.14,
     'irpEarnRate5': 2.67,
     'irpEarnRate7': 0,
     'irpEarnRate10': 0}]},
  {'company': '교보생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 4699,
     'dbEarnRate': 5.03,
     'dbEarnRate3': 6.81,
     'dbEarnRate5': 4.81,
     'dbEarnRate7': 3.55,
     'dbEarnRate10': 3.98,
     'dcReserve': 5971,
     'dcEarnRate': 8.47,
     'dcEarnRate3': 10.59,
     'dcEarnRate5': 6.15,
     'dcEarnRate7': 4.41,
     'dcEarnRate10': 4.8,
     'irpReserve': 1083,
     'irpEarnRate': 5.83,
     'irpEarnRate3': 8.79,
     'irpEarnRate5': 5.34,
     'irpEarnRate7': 4.08,
     'irpEarnRate10': 3.91}]},
  {'company': '동양생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 0,
     'dbEarnRate': 0,
     'dbEarnRate3': 0,
     'dbEarnRate5': 0,
     'dbEarnRate7': 0,
     'dbEarnRate10': 0,
     'dcReserve': 48,
     'dcEarnRate': 3.35,
     'dcEarnRate3': 6.64,
     'dcEarnRate5': 4.09,
     'dcEarnRate7': 3.8,
     'dcEarnRate10': 3.3,
     'irpReserve': 4,
     'irpEarnRate': 6.14,
     'irpEarnRate3': 6.73,
     'irpEarnRate5': 4.28,
     'irpEarnRate7': 3.67,
     'irpEarnRate10': 3.21}]},
  {'company': '미래에셋생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 3220,
     'dbEarnRate': 0.76,
     'dbEarnRate3': 2.26,
     'dbEarnRate5': 2.81,
     'dbEarnRate7': 2.57,
     'dbEarnRate10': 3.11,
     'dcReserve': 3260,
     'dcEarnRate': 5.9,
     'dcEarnRate3': 9.88,
     'dcEarnRate5': 6,
     'dcEarnRate7': 4.57,
     'dcEarnRate10': 4.64,
     'irpReserve': 612,
     'irpEarnRate': 5,
     'irpEarnRate3': 9.32,
     'irpEarnRate5': 5.72,
     'irpEarnRate7': 4.33,
     'irpEarnRate10': 4.52}]},
  {'company': '삼성생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 4424,
     'dbEarnRate': 5.46,
     'dbEarnRate3': 6.99,
     'dbEarnRate5': 5.83,
     'dbEarnRate7': 4.97,
     'dbEarnRate10': 4.56,
     'dcReserve': 7592,
     'dcEarnRate': 7.04,
     'dcEarnRate3': 9.29,
     'dcEarnRate5': 5.67,
     'dcEarnRate7': 4.22,
     'dcEarnRate10': 4.51,
     'irpReserve': 2243,
     'irpEarnRate': 6.63,
     'irpEarnRate3': 8.73,
     'irpEarnRate5': 5.25,
     'irpEarnRate7': 3.7,
     'irpEarnRate10': 4.15}]},
  {'company': '신한라이프생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 0,
     'dbEarnRate': 4.6,
     'dbEarnRate3': 8.2,
     'dbEarnRate5': 4.93,
     'dbEarnRate7': 2.98,
     'dcReserve': 98,
     'dcEarnRate': 2.23,
     'dcEarnRate3': 8.85,
     'dcEarnRate5': 4.89,
     'dcEarnRate7': 3.18,
     'dcEarnRate10': 3.59,
     'irpReserve': 5,
     'irpEarnRate': 1.58,
     'irpEarnRate3': 6.49,
     'irpEarnRate5': 3.72,
     'irpEarnRate7': 2.45,
     'irpEarnRate10': 2.89}]},
  {'company': '아이비케이연금보험 주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 4,
     'dbEarnRate': 3.35,
     'dbEarnRate3': 25.92,
     'dbEarnRate5': 11.18,
     'dbEarnRate7': 8.37,
     'dbEarnRate10': 6.63,
     'dcReserve': 104,
     'dcEarnRate': 2.31,
     'dcEarnRate3': 11.79,
     'dcEarnRate5': 5.46,
     'dcEarnRate7': 4.64,
     'dcEarnRate10': 4.72,
     'irpReserve': 40,
     'irpEarnRate': 5.04,
     'irpEarnRate3': 7.39,
     'irpEarnRate5': 3.81,
     'irpEarnRate7': 4.4,
     'irpEarnRate10': 0}]},
  {'company': '케이디비생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 0,
     'dbEarnRate': 0,
     'dcReserve': 0,
     'dcEarnRate': 0,
     'irpReserve': 0,
     'irpEarnRate': 3.42,
     'irpEarnRate3': 5.34,
     'irpEarnRate5': 3.62,
     'irpEarnRate7': 2.75,
     'irpEarnRate10': 2.68}]},
  {'company': '푸본현대생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 97,
     'dbEarnRate': 1.13,
     'dbEarnRate3': 1.96,
     'dbEarnRate5': 2.98,
     'dbEarnRate7': 0.57,
     'dbEarnRate10': 0,
     'dcReserve': 53,
     'dcEarnRate': 3.33,
     'dcEarnRate3': 5.7,
     'dcEarnRate5': 3.97,
     'dcEarnRate7': 1.9,
     'dcEarnRate10': 0,
     'irpReserve': 3,
     'irpEarnRate': 3.05,
     'irpEarnRate3': 3.8,
     'irpEarnRate5': 2.9,
     'irpEarnRate7': 1.2,
     'irpEarnRate10': 0}]},
  {'company': '한화생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 207,
     'dbEarnRate': 3.89,
     'dbEarnRate3': 6.12,
     'dbEarnRate5': 5.08,
     'dbEarnRate7': 4.52,
     'dbEarnRate10': 4.44,
     'dcReserve': 760,
     'dcEarnRate': 5.07,
     'dcEarnRate3': 7.84,
     'dcEarnRate5': 4.97,
     'dcEarnRate7': 3.73,
     'dcEarnRate10': 4.16,
     'irpReserve': 107,
     'irpEarnRate': 5.92,
     'irpEarnRate3': 7.36,
     'irpEarnRate5': 4.6,
     'irpEarnRate7': 3.33,
     'irpEarnRate10': 3.91}]},
  {'company': '흥국생명보험주식회사',
   'area': '생명보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 0,
     'dbEarnRate': 0,
     'dbEarnRate3': 0,
     'dbEarnRate5': 0,
     'dbEarnRate7': 0,
     'dbEarnRate10': 0,
     'dcReserve': 324,
     'dcEarnRate': 0.47,
     'dcEarnRate3': 3.79,
     'dcEarnRate5': 2.91,
     'dcEarnRate7': 2.81,
     'dcEarnRate10': 2.99,
     'irpReserve': 8,
     'irpEarnRate': 1.06,
     'irpEarnRate3': 5.06,
     'irpEarnRate5': 3.11,
     'irpEarnRate7': 2.62,
     'irpEarnRate10': 3.03}]},
  {'company': 'DB손해보험주식회사',
   'area': '손해보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 0,
     'dcReserve': 41,
     'dcEarnRate': 4.06,
     'dcEarnRate3': 5.85,
     'dcEarnRate5': 4.26,
     'dcEarnRate7': 3.79,
     'dcEarnRate10': 3.5,
     'irpReserve': 6,
     'irpEarnRate': 5.32,
     'irpEarnRate3': 7.02,
     'irpEarnRate5': 4.91,
     'irpEarnRate7': 4.21,
     'irpEarnRate10': 4.05}]},
  {'company': '롯데손해보험주식회사',
   'area': '손해보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 0,
     'dcReserve': 85,
     'dcEarnRate': 6.13,
     'dcEarnRate3': 8.28,
     'dcEarnRate5': 4.89,
     'dcEarnRate7': 3.97,
     'dcEarnRate10': 3.57,
     'irpReserve': 9,
     'irpEarnRate': 9.7,
     'irpEarnRate3': 9.68,
     'irpEarnRate5': 5.51,
     'irpEarnRate7': 4}]},
  {'company': '삼성화재해상보험',
   'area': '손해보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 23,
     'dbEarnRate': -2.98,
     'dbEarnRate3': 0.38,
     'dbEarnRate5': 2.55,
     'dbEarnRate7': 2.83,
     'dbEarnRate10': 3.1,
     'dcReserve': 684,
     'dcEarnRate': 3.09,
     'dcEarnRate3': 7.21,
     'dcEarnRate5': 4.97,
     'dcEarnRate7': 3.69,
     'dcEarnRate10': 3.94,
     'irpReserve': 158,
     'irpEarnRate': 2.46,
     'irpEarnRate3': 7.72,
     'irpEarnRate5': 5.2,
     'irpEarnRate7': 3.51,
     'irpEarnRate10': 3.64}]},
  {'company': '주식회사KB손해보험',
   'area': '손해보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 45,
     'dbEarnRate': 3.34,
     'dbEarnRate3': 8.57,
     'dbEarnRate5': 4.65,
     'dbEarnRate7': 3.49,
     'dbEarnRate10': 2.87,
     'dcReserve': 570,
     'dcEarnRate': 3.64,
     'dcEarnRate3': 7.27,
     'dcEarnRate5': 5.07,
     'dcEarnRate7': 4.27,
     'dcEarnRate10': 3.73,
     'irpReserve': 71,
     'irpEarnRate': 3.93,
     'irpEarnRate3': 7.27,
     'irpEarnRate5': 4.24,
     'irpEarnRate7': 3.72,
     'irpEarnRate10': 3.41}]},
  {'company': '한화손해보험주식회사',
   'area': '손해보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 0,
     'dbEarnRate': 0,
     'dbEarnRate3': 0,
     'dbEarnRate5': 0,
     'dbEarnRate7': 0,
     'dbEarnRate10': 0,
     'dcReserve': 0,
     'dcEarnRate': 0,
     'dcEarnRate3': 1.42,
     'dcEarnRate5': 1.59,
     'dcEarnRate7': 1.56,
     'dcEarnRate10': 2.31,
     'irpReserve': 0,
     'irpEarnRate': 0,
     'irpEarnRate3': 0,
     'irpEarnRate5': 0,
     'irpEarnRate7': 0,
     'irpEarnRate10': 0}]},
  {'company': '현대해상화재보험',
   'area': '손해보험',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 0,
     'dcReserve': 78,
     'dcEarnRate': 4.02,
     'dcEarnRate3': 8.13,
     'dcEarnRate5': 5.18,
     'dcEarnRate7': 4.15,
     'dcEarnRate10': 3.51,
     'irpReserve': 9,
     'irpEarnRate': 4.78,
     'irpEarnRate3': 9.03,
     'irpEarnRate5': 5.87,
     'irpEarnRate7': 4.34,
     'irpEarnRate10': 3.22}]},
  {'company': 'BNK경남은행',
   'area': '은행',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 156,
     'dbEarnRate': 3.32,
     'dbEarnRate3': 5.11,
     'dbEarnRate5': 3.08,
     'dbEarnRate7': 2.42,
     'dbEarnRate10': 2.3,
     'dcReserve': 338,
     'dcEarnRate': 4.68,
     'dcEarnRate3': 8.58,
     'dcEarnRate5': 5.22,
     'dcEarnRate7': 4.19,
     'dcEarnRate10': 3.95,
     'irpReserve': 405,
     'irpEarnRate': 6.36,
     'irpEarnRate3': 10.08,
     'irpEarnRate5': 5.4,
     'irpEarnRate7': 3.89,
     'irpEarnRate10': 3.59}]},
  {'company': 'BNK부산은행',
   'area': '은행',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 821,
     'dbEarnRate': 4.46,
     'dbEarnRate3': 4.61,
     'dbEarnRate5': 3.37,
     'dbEarnRate7': 2.6,
     'dbEarnRate10': 2.62,
     'dcReserve': 332,
     'dcEarnRate': 4.13,
     'dcEarnRate3': 7.77,
     'dcEarnRate5': 4.95,
     'dcEarnRate7': 3.86,
     'dcEarnRate10': 3.65,
     'irpReserve': 672,
     'irpEarnRate': 4.21,
     'irpEarnRate3': 7.12,
     'irpEarnRate5': 4.6,
     'irpEarnRate7': 3.46,
     'irpEarnRate10': 3.24}]},
  {'company': 'DGB대구은행',
   'area': '은행',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 183,
     'dbEarnRate': 2.25,
     'dbEarnRate3': 3.66,
     'dbEarnRate5': 2.99,
     'dbEarnRate7': 2.37,
     'dbEarnRate10': 2.47,
     'dcReserve': 873,
     'dcEarnRate': 4.82,
     'dcEarnRate3': 7.85,
     'dcEarnRate5': 5.26,
     'dcEarnRate7': 4.28,
     'dcEarnRate10': 4.06,
     'irpReserve': 617,
     'irpEarnRate': 5.84,
     'irpEarnRate3': 8.14,
     'irpEarnRate5': 4.98,
     'irpEarnRate7': 3.51,
     'irpEarnRate10': 3.67}]},
  {'company': 'IBK기업은행',
   'area': '은행',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 2660,
     'dbEarnRate': 2.58,
     'dbEarnRate3': 4.34,
     'dbEarnRate5': 3.03,
     'dbEarnRate7': 2.59,
     'dbEarnRate10': 2.93,
     'dcReserve': 6540,
     'dcEarnRate': 6.42,
     'dcEarnRate3': 9.35,
     'dcEarnRate5': 5.73,
     'dcEarnRate7': 4.37,
     'dcEarnRate10': 4.06,
     'irpReserve': 1957,
     'irpEarnRate': 7,
     'irpEarnRate3': 9.67,
     'irpEarnRate5': 5.7,
     'irpEarnRate7': 4.02,
     'irpEarnRate10': 3.95}]},
  {'company': 'KB국민은행',
   'area': '은행',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 5242,
     'dbEarnRate': 3.79,
     'dbEarnRate3': 4.09,
     'dbEarnRate5': 3.49,
     'dbEarnRate7': 2.9,
     'dbEarnRate10': 3.53,
     'dcReserve': 16561,
     'dcEarnRate': 5.96,
     'dcEarnRate3': 7.75,
     'dcEarnRate5': 4.96,
     'dcEarnRate7': 3.82,
     'dcEarnRate10': 4.12,
     'irpReserve': 23971,
     'irpEarnRate': 6.37,
     'irpEarnRate3': 8.79,
     'irpEarnRate5': 5.24,
     'irpEarnRate7': 3.67,
     'irpEarnRate10': 4.29}]},
  {'company': 'KDB산업은행',
   'area': '은행',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 1111,
     'dbEarnRate': 1.21,
     'dbEarnRate3': 3.43,
     'dbEarnRate5': 3.5,
     'dbEarnRate7': 2.77,
     'dbEarnRate10': 2.82,
     'dcReserve': 603,
     'dcEarnRate': 4.75,
     'dcEarnRate3': 6.79,
     'dcEarnRate5': 4.36,
     'dcEarnRate7': 3.42,
     'dcEarnRate10': 3.57,
     'irpReserve': 210,
     'irpEarnRate': 2.9,
     'irpEarnRate3': 8.45,
     'irpEarnRate5': 5.14,
     'irpEarnRate7': 3.88,
     'irpEarnRate10': 4.1}]},
  {'company': 'NH농협은행',
   'area': '은행',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 2895,
     'dbEarnRate': 1.14,
     'dbEarnRate3': 2.97,
     'dbEarnRate5': 2.58,
     'dbEarnRate7': 2.44,
     'dbEarnRate10': 2.64,
     'dcReserve': 5096,
     'dcEarnRate': 4.27,
     'dcEarnRate3': 7.22,
     'dcEarnRate5': 4.56,
     'dcEarnRate7': 3.83,
     'dcEarnRate10': 3.72,
     'irpReserve': 4904,
     'irpEarnRate': 5.07,
     'irpEarnRate3': 8.5,
     'irpEarnRate5': 4.92,
     'irpEarnRate7': 3.76,
     'irpEarnRate10': 3.74}]},
  {'company': '광주은행',
   'area': '은행',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 73,
     'dbEarnRate': 1.54,
     'dbEarnRate3': 6.14,
     'dbEarnRate5': 3.31,
     'dbEarnRate7': 2.57,
     'dbEarnRate10': 2.4,
     'dcReserve': 385,
     'dcEarnRate': 3.08,
     'dcEarnRate3': 7.98,
     'dcEarnRate5': 4.87,
     'dcEarnRate7': 3.84,
     'dcEarnRate10': 3.58,
     'irpReserve': 133,
     'irpEarnRate': 5.31,
     'irpEarnRate3': 11.39,
     'irpEarnRate5': 6.4,
     'irpEarnRate7': 4.54,
     'irpEarnRate10': 4.2}]},
  {'company': '신한은행',
   'area': '은행',
   'list': [{'division': '원리금 비보장',
     'dbReserve': 10799,
     'dbEarnRate': 2.17,

In [7]:
contents['list'][1]['list'][0]

{'division': '원리금 비보장',
 'dbReserve': 889,
 'dbEarnRate': 3.43,
 'dbEarnRate3': 4.7,
 'dbEarnRate5': 3.23,
 'dbEarnRate7': 2.62,
 'dbEarnRate10': 3.09,
 'dcReserve': 3909,
 'dcEarnRate': 8.16,
 'dcEarnRate3': 9.97,
 'dcEarnRate5': 5.82,
 'dcEarnRate7': 4.34,
 'dcEarnRate10': 4.75,
 'irpReserve': 4194,
 'irpEarnRate': 8.94,
 'irpEarnRate3': 10.72,
 'irpEarnRate5': 6.12,
 'irpEarnRate7': 4.27,
 'irpEarnRate10': 4.71}

## 데이터 프레임 만들기

In [8]:
company = []
db = []
dc = []
irp = []
irp3 = []
irp5 = []
irp7 = []
irp10 = []

for i in range(len(contents['list'])):
    company.append(contents['list'][i]['company'])
    try:
        db.append(contents['list'][i]['list'][0]['dbEarnRate'])
    except:
        db.append(None)
    try:
        dc.append(contents['list'][i]['list'][0]['dcEarnRate'])
    except:
        dc.append(None)
    try:
        irp.append(contents['list'][i]['list'][0]['irpEarnRate'])
    except:
        irp.append(None)
    try:
        irp3.append(contents['list'][i]['list'][0]['irpEarnRate3'])
    except:
        irp3.append(None)
    try:
        irp5.append(contents['list'][i]['list'][0]['irpEarnRate5'])
    except:
        irp5.append(None)
    try:
        irp7.append(contents['list'][i]['list'][0]['irpEarnRate7'])
    except:
        irp7.append(None)
    try:
        irp10.append(contents['list'][i]['list'][0]['irpEarnRate10'])
    except:
        irp10.append(None)

In [9]:
df = pd.DataFrame({'company': company, 'db': db, 'dc': dc, 'irp': irp, 'irp3': irp3, 'irp5': irp5, 'irp7': irp7, 'irp10': irp10})
df

           company     db    dc    irp   irp3  irp5  irp7  irp10
0             KB증권   3.56  7.62   8.53  11.01  6.39  4.31   4.78
1           NH투자증권   3.43  8.16   8.94  10.72  6.12  4.27   4.71
2             대신증권   2.83  7.25   8.00  11.13  7.13  5.81   5.92
3           미래에셋증권   2.52  8.69   9.44  10.90  6.72  4.83   4.85
4             삼성증권   1.91  8.69   8.82   9.37  5.64  4.32   4.16
5             신영증권   1.54  5.10   5.91   7.80  4.24  3.32   3.38
6           신한금융투자   2.44  8.09  10.65  11.49  6.77  4.54   4.81
7            유안타증권  11.29  5.03   8.68   9.45  5.82  4.55   4.51
8           하나금융투자   3.12  7.95   5.85   9.49  5.36  3.50   3.73
9           하이투자증권   0.40  3.17   5.73   6.87  4.21  3.23   3.53
10          한국투자증권   2.82  7.80   7.93  10.64  6.02  4.34   4.64
11          한국포스증권    NaN   NaN  10.40    NaN   NaN   NaN    NaN
12          한화투자증권    NaN  9.60   8.76  11.60   NaN   NaN    NaN
13           현대차증권   1.56  6.51   4.23   6.37  3.45  2.73   3.23
14      DB생명보험주식회사   0.00 -0.30   0.76   5.14  2.67  0.00   0.00
15      교보생명보험주식회사   5.03  8.47   5.83   8.79  5.34  4.08   3.91
16      동양생명보험주식회사   0.00  3.35   6.14   6.73  4.28  3.67   3.21
17    미래에셋생명보험주식회사   0.76  5.90   5.00   9.32  5.72  4.33   4.52
18      삼성생명보험주식회사   5.46  7.04   6.63   8.73  5.25  3.70   4.15
19   신한라이프생명보험주식회사   4.60  2.23   1.58   6.49  3.72  2.45   2.89
20  아이비케이연금보험 주식회사   3.35  2.31   5.04   7.39  3.81  4.40   0.00
21    케이디비생명보험주식회사   0.00  0.00   3.42   5.34  3.62  2.75   2.68
22    푸본현대생명보험주식회사   1.13  3.33   3.05   3.80  2.90  1.20   0.00
23      한화생명보험주식회사   3.89  5.07   5.92   7.36  4.60  3.33   3.91
24      흥국생명보험주식회사   0.00  0.47   1.06   5.06  3.11  2.62   3.03
25      DB손해보험주식회사    NaN  4.06   5.32   7.02  4.91  4.21   4.05
26      롯데손해보험주식회사    NaN  6.13   9.70   9.68  5.51  4.00    NaN
27        삼성화재해상보험  -2.98  3.09   2.46   7.72  5.20  3.51   3.64
28      주식회사KB손해보험   3.34  3.64   3.93   7.27  4.24  3.72   3.41
29      한화손해보험주식회사   0.00  0.00   0.00   0.00  0.00  0.00   0.00
30        현대해상화재보험    NaN  4.02   4.78   9.03  5.87  4.34   3.22
31         BNK경남은행   3.32  4.68   6.36  10.08  5.40  3.89   3.59
32         BNK부산은행   4.46  4.13   4.21   7.12  4.60  3.46   3.24
33         DGB대구은행   2.25  4.82   5.84   8.14  4.98  3.51   3.67
34         IBK기업은행   2.58  6.42   7.00   9.67  5.70  4.02   3.95
35          KB국민은행   3.79  5.96   6.37   8.79  5.24  3.67   4.29
36         KDB산업은행   1.21  4.75   2.90   8.45  5.14  3.88   4.10
37          NH농협은행   1.14  4.27   5.07   8.50  4.92  3.76   3.74
38            광주은행   1.54  3.08   5.31  11.39  6.40  4.54   4.20
39            신한은행   2.17  6.98   6.41   7.68  5.47  4.15   4.17
40            우리은행   2.17  6.06   6.05   6.98  4.18  2.93   3.30
41            제주은행   0.00   NaN   9.61   7.47  4.61  3.11    NaN
42            하나은행   3.43  7.30   6.64   8.50  4.72  3.31   3.64

In [10]:
df.fillna(0,axis=0, inplace=True)

## 은행, 보험회사, 증권사 수익률 비교

In [11]:
irp_s = []
irp_i = []
irp_b = []

for idx in df.index:
    if '보험' in df.loc[idx, 'company']:
        irp_i.append(df.loc[idx, 'irp'])
    elif '은행' in df.loc[idx, 'company']:
        irp_b.append(df.loc[idx, 'irp'])
    else:
        irp_s.append(df.loc[idx, 'irp'])

In [12]:
len(irp_s) + len(irp_i) + len(irp_b)

43

In [13]:
import numpy as np

#irp단순비교
np.array(irp_s).mean(), np.array(irp_i).mean(), np.array(irp_b).mean()

(7.990714285714286, 4.154117647058824, 5.980833333333333)

In [14]:
#10년 irp 수익률 비교
irp10_s = []
irp10_i = []
irp10_b = []

for idx in df.index:
    if '보험' in df.loc[idx, 'company']:
        irp10_i.append(df.loc[idx, 'irp10'])
    elif '은행' in df.loc[idx, 'company']:
        irp10_b.append(df.loc[idx, 'irp10'])
    else:
        irp10_s.append(df.loc[idx, 'irp10'])

In [15]:
#10년 수익률 없는 데이터 삭제
remove_set = {0}
irp10_s= [i for i in irp10_s if i not in remove_set]
irp10_i= [i for i in irp10_i if i not in remove_set]
irp10_b = [i for i in irp10_b if i not in remove_set]

In [16]:
#10년 평균 수익률 비교
np.array(irp10_s).mean(), np.array(irp10_i).mean(), np.array(irp10_b).mean()

(4.354166666666666, 3.551666666666666, 3.808181818181818)

In [17]:
df

           company     db    dc    irp   irp3  irp5  irp7  irp10
0             KB증권   3.56  7.62   8.53  11.01  6.39  4.31   4.78
1           NH투자증권   3.43  8.16   8.94  10.72  6.12  4.27   4.71
2             대신증권   2.83  7.25   8.00  11.13  7.13  5.81   5.92
3           미래에셋증권   2.52  8.69   9.44  10.90  6.72  4.83   4.85
4             삼성증권   1.91  8.69   8.82   9.37  5.64  4.32   4.16
5             신영증권   1.54  5.10   5.91   7.80  4.24  3.32   3.38
6           신한금융투자   2.44  8.09  10.65  11.49  6.77  4.54   4.81
7            유안타증권  11.29  5.03   8.68   9.45  5.82  4.55   4.51
8           하나금융투자   3.12  7.95   5.85   9.49  5.36  3.50   3.73
9           하이투자증권   0.40  3.17   5.73   6.87  4.21  3.23   3.53
10          한국투자증권   2.82  7.80   7.93  10.64  6.02  4.34   4.64
11          한국포스증권   0.00  0.00  10.40   0.00  0.00  0.00   0.00
12          한화투자증권   0.00  9.60   8.76  11.60  0.00  0.00   0.00
13           현대차증권   1.56  6.51   4.23   6.37  3.45  2.73   3.23
14      DB생명보험주식회사   0.00 -0.30   0.76   5.14  2.67  0.00   0.00
15      교보생명보험주식회사   5.03  8.47   5.83   8.79  5.34  4.08   3.91
16      동양생명보험주식회사   0.00  3.35   6.14   6.73  4.28  3.67   3.21
17    미래에셋생명보험주식회사   0.76  5.90   5.00   9.32  5.72  4.33   4.52
18      삼성생명보험주식회사   5.46  7.04   6.63   8.73  5.25  3.70   4.15
19   신한라이프생명보험주식회사   4.60  2.23   1.58   6.49  3.72  2.45   2.89
20  아이비케이연금보험 주식회사   3.35  2.31   5.04   7.39  3.81  4.40   0.00
21    케이디비생명보험주식회사   0.00  0.00   3.42   5.34  3.62  2.75   2.68
22    푸본현대생명보험주식회사   1.13  3.33   3.05   3.80  2.90  1.20   0.00
23      한화생명보험주식회사   3.89  5.07   5.92   7.36  4.60  3.33   3.91
24      흥국생명보험주식회사   0.00  0.47   1.06   5.06  3.11  2.62   3.03
25      DB손해보험주식회사   0.00  4.06   5.32   7.02  4.91  4.21   4.05
26      롯데손해보험주식회사   0.00  6.13   9.70   9.68  5.51  4.00   0.00
27        삼성화재해상보험  -2.98  3.09   2.46   7.72  5.20  3.51   3.64
28      주식회사KB손해보험   3.34  3.64   3.93   7.27  4.24  3.72   3.41
29      한화손해보험주식회사   0.00  0.00   0.00   0.00  0.00  0.00   0.00
30        현대해상화재보험   0.00  4.02   4.78   9.03  5.87  4.34   3.22
31         BNK경남은행   3.32  4.68   6.36  10.08  5.40  3.89   3.59
32         BNK부산은행   4.46  4.13   4.21   7.12  4.60  3.46   3.24
33         DGB대구은행   2.25  4.82   5.84   8.14  4.98  3.51   3.67
34         IBK기업은행   2.58  6.42   7.00   9.67  5.70  4.02   3.95
35          KB국민은행   3.79  5.96   6.37   8.79  5.24  3.67   4.29
36         KDB산업은행   1.21  4.75   2.90   8.45  5.14  3.88   4.10
37          NH농협은행   1.14  4.27   5.07   8.50  4.92  3.76   3.74
38            광주은행   1.54  3.08   5.31  11.39  6.40  4.54   4.20
39            신한은행   2.17  6.98   6.41   7.68  5.47  4.15   4.17
40            우리은행   2.17  6.06   6.05   6.98  4.18  2.93   3.30
41            제주은행   0.00  0.00   9.61   7.47  4.61  3.11   0.00
42            하나은행   3.43  7.30   6.64   8.50  4.72  3.31   3.64

## 증권사 별 수익률 비교

In [18]:
#보험, 은행이 포함된 데이터 삭제
insur = df[df['company'].str.contains('보험')].index
bank = df[df['company'].str.contains('은행')].index
df.drop(bank, inplace=True)
df.drop(insur, inplace=True)

In [19]:
#irp 3년 수익률 비교
irp3_top10 = df.sort_values(by='irp3', ascending=False).head(10)
irp3_top10

   company     db    dc    irp   irp3  irp5  irp7  irp10
12  한화투자증권   0.00  9.60   8.76  11.60  0.00  0.00   0.00
6   신한금융투자   2.44  8.09  10.65  11.49  6.77  4.54   4.81
2     대신증권   2.83  7.25   8.00  11.13  7.13  5.81   5.92
0     KB증권   3.56  7.62   8.53  11.01  6.39  4.31   4.78
3   미래에셋증권   2.52  8.69   9.44  10.90  6.72  4.83   4.85
1   NH투자증권   3.43  8.16   8.94  10.72  6.12  4.27   4.71
10  한국투자증권   2.82  7.80   7.93  10.64  6.02  4.34   4.64
8   하나금융투자   3.12  7.95   5.85   9.49  5.36  3.50   3.73
7    유안타증권  11.29  5.03   8.68   9.45  5.82  4.55   4.51
4     삼성증권   1.91  8.69   8.82   9.37  5.64  4.32   4.16

In [20]:
#irp 5년 수익률 비교
irp5_top10 = df.sort_values(by='irp5', ascending=False).head(10)
irp5_top10

   company     db    dc    irp   irp3  irp5  irp7  irp10
2     대신증권   2.83  7.25   8.00  11.13  7.13  5.81   5.92
6   신한금융투자   2.44  8.09  10.65  11.49  6.77  4.54   4.81
3   미래에셋증권   2.52  8.69   9.44  10.90  6.72  4.83   4.85
0     KB증권   3.56  7.62   8.53  11.01  6.39  4.31   4.78
1   NH투자증권   3.43  8.16   8.94  10.72  6.12  4.27   4.71
10  한국투자증권   2.82  7.80   7.93  10.64  6.02  4.34   4.64
7    유안타증권  11.29  5.03   8.68   9.45  5.82  4.55   4.51
4     삼성증권   1.91  8.69   8.82   9.37  5.64  4.32   4.16
8   하나금융투자   3.12  7.95   5.85   9.49  5.36  3.50   3.73
5     신영증권   1.54  5.10   5.91   7.80  4.24  3.32   3.38

In [21]:
#irp 7년 수익률 비교
irp7_top10 = df.sort_values(by='irp7', ascending=False).head(10)
irp7_top10

   company     db    dc    irp   irp3  irp5  irp7  irp10
2     대신증권   2.83  7.25   8.00  11.13  7.13  5.81   5.92
3   미래에셋증권   2.52  8.69   9.44  10.90  6.72  4.83   4.85
7    유안타증권  11.29  5.03   8.68   9.45  5.82  4.55   4.51
6   신한금융투자   2.44  8.09  10.65  11.49  6.77  4.54   4.81
10  한국투자증권   2.82  7.80   7.93  10.64  6.02  4.34   4.64
4     삼성증권   1.91  8.69   8.82   9.37  5.64  4.32   4.16
0     KB증권   3.56  7.62   8.53  11.01  6.39  4.31   4.78
1   NH투자증권   3.43  8.16   8.94  10.72  6.12  4.27   4.71
8   하나금융투자   3.12  7.95   5.85   9.49  5.36  3.50   3.73
5     신영증권   1.54  5.10   5.91   7.80  4.24  3.32   3.38